<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <!--
      <authentication> セクションは、ユーザーを識別するために、
      ASP.NET で使用されるセキュリティ認証モードの構成
      を有効にします。
    -->
    <authentication mode="Windows"/>
    <!--
       <customErrors> セクションは、要求の実行中にハンドル
       されていないエラーが発生した場合の処理方法の構成を
       有効にします。具体的には、開発者が HTML エラー ページ
       をスタック トレースのエラーの代わりに表示するように構成
       することを可能にします。

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        system.webServer セクションは、Internet Information Services 7.0 で ASP.NET AJAX を
       実行するために必要です。以前のバージョンの IIS では不要です。
    -->
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DummyWebAPI.Service1AspNetAjaxBehavior">
          <!--
          <enableWebScript/>
          -->
          <webHttp defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <services>
      <service name="DummyWebAPI.Service1">
        <endpoint address="" behaviorConfiguration="DummyWebAPI.Service1AspNetAjaxBehavior" binding="webHttpBinding" contract="DummyWebAPI.Service1"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>